@import "__variables";


nav {
    border: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    right: 0;
    display: flex;
    height: 100px;
    clip-path: circle(0 at 100% 0);
    z-index: 1;
    overflow: hidden;

    @media screen and (max-width: 1075px) {
        height: 100vh;

    }

    background-color: #bb5616;

    ul.nav__container {

        @media screen and (max-width: 1075px) {
            justify-content: center;
            display: grid;

        }

        overflow: hidden;
        display: flex;
        list-style: none;
        width: 100%;
        color: #000;
        margin: 0;

        li.nav__item {
            overflow: hidden;
            opacity: 0;

            a {
                font-size: 1.1em;
                color: rgba(255, 255, 255, 0.774);
                transition: color .2s;

                &:hover {
                    color: #fff;
                    transition: color .3s;
                    text-decoration: none;
                }
            }

            padding: 20px 20px;

            z-index: 1;
            text-transform: uppercase;
            font-weight: 500;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &.active>a {
                color: #fff;
                font-weight: 550;
            }
        }
    }
}

section.topsection {
    overflow: hidden;
    background-image: url("../images/headerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #ececec;
    z-index: -1;
    position: relative;



    &::before {
        content: '';
        position: absolute;
        width: 100%;

        @media screen and (min-width: 380px) {
            height: 57%;
        }

        @media screen and (min-width: 482px) {
            height: 69%;
        }

        @media screen and (min-width: 640px) {
            height: 67%;
        }

        @media screen and (min-width: 2228px) {
            height: 80%;
        }

        @media screen and (min-width: 3312px) {
            height: 85%;
        }

        height: 50%;

        top: 0;
        left: 50%;
        z-index: -1;

        border-radius: 50%;
        background: rgb(222, 222, 222);
        background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(237, 237, 237, 1) 2%, rgba(253, 253, 253, 1) 32%, rgba(255, 255, 255, 1) 100%);
        border: #bdbcbd;
        transform-origin: top;
        transform: translateX(-50%) translateY(-120%) scale(2);
    }

    .logo-box {
        margin: 40px auto;
        position: relative;
        text-align: center;

        img {
            margin-bottom: 20px;
        }

        .logo-description {
            background-color: $default-orange-color;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.5em;
            padding: 10px 0;
            margin-left: auto;
            margin-right: auto;
            color: #fff;
            text-align: center;
        }
    }

    .content {

        position: relative;
        display: flex;
        align-items: flex-end;

        @media only screen and (max-width: 640px) {
            display: block;
        }

        .left-person {
            position: relative;
            margin: 0 auto;

            img.construction-worker {
                position: absolute;
                bottom: 0;

                @media only screen and (max-width: 640px) {
                    display: none;
                }

                @media only screen and (max-width: 700px) {
                    max-width: 110%;
                }


                @media only screen and (max-width: 1123px) {
                    max-width: 87%;
                }

                @media only screen and (min-width: 1567px) {
                    max-width: 50%;
                }




                max-width: 60%;
                padding-top: 50px;
            }
        }

        .header-description {
            color: #fff;

            div {
                &.long-desc {
                    h2 {
                        color: #000;

                        @media only screen and (max-width: 1000px) {
                            font-size: $h1-font-size-phone;
                        }

                        @media only screen and (min-width: 482px) {
                            white-space: nowrap;
                        }

                        font-size: $h1-font-size;
                    }

                    p {
                        font-size: $description-font-size;

                        @media only screen and (max-width: 1000px) {
                            font-size: $description-font-size-phone;
                        }

                        &.uk-margin-remove-bottom {
                            margin-top: 10px;
                        }
                    }


                    background-color: $default-orange-color;
                    padding: 5px 30px;
                }

                &.short-desc {
                    font-size: $description-font-size;

                    @media only screen and (max-width: 1000px) {
                        font-size: $description-font-size-phone;
                    }

                    text-transform: uppercase;
                    font-weight: 800;
                    padding: 15px;
                    background-color: #16806b;
                }
            }

            font-size: 2em;
        }
    }
}