@import "__variables";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Rajdhani', sans-serif;
    color: #000;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

section:not(.topsection) {
    align-items: center;
    padding-top: 15px;
    padding: 15px;
    padding-bottom: 15px;
    background-color: $default-bg-section;
    display: flex;
    justify-content: center;

    &.first-infobar {
        color: #fff;
        font-weight: 800;
        font-size: 2.2em;
        display: flex;
        text-align: center;
        justify-content: center;

        @media only screen and (max-width: 844px) {
            font-size: 1.5em;

        }

        text-transform: uppercase;
        min-height: 120px;
        background-color: #191919;
        margin: 0 auto;
    }

    &.waarom-section {
        overflow: hidden;
        background: rgb(222, 222, 222);
        background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(237, 237, 237, 1) 2%, rgba(253, 253, 253, 1) 32%, rgba(255, 255, 255, 1) 100%);
        border-bottom: 1px solid #bdbcbd;
        border-top: 1px solid #bdbcbd;

        .description {
            color: #000;
            font-weight: 500;
            font-size: 1.3em;
        }

        &>div>img {
            max-height: 350px;
        }

        @media only screen and (max-width:576px) {

            display: block;
        }


        h2 {
            color: $default-orange-color;
            text-transform: uppercase;
            font-size: 1.6em;
            overflow: hidden;
        }

        p {
            text-align: justify;
            padding-left: 15px;
            padding-right: 15px;
        }

        div:nth-child(2) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &.coninf {
        background-color: #bb5616;

        @media only screen and (max-width:576px) {

            display: block;
        }

        .imgBx {
            padding-left: 15px;
            padding-right: 15px;

            &>img {
                max-height: 245px;
            }
        }

    }

    &.section__B {
        background-color: #16806b;

        h1 {
            font-size: 1.6em;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;

        }

        p {
            color: #fff;
            text-align: center;
            font-size: 1.3em;


        }

        ul {
            text-align: center;
            list-style: none;
            font-size: 1.3em;

        }

        ul>li {
            color: #fff;

            &:before {
                content: "-";
            }
        }

        .heading {
            background: #fff;
            font-weight: 550;
            color: #16806b;
            padding: 15px;

            @media only screen and (max-width:844px) {

                font-size: 2em
            }

            text-align: center;
            font-size: 2.2em;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .heading:last-of-type {

            margin-bottom: 5%;
        }

        .subsection {
            background-color: #fff;
            padding: 30px 45px;
            padding-bottom: 45px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 60px;

            h2 {
                font-size: 2em;
            }

            @media screen and (max-width: 844px) {
                font-size: .8em;
            }




            @media only screen and (min-width:576px) {

                &.__last {
                    .image__container {
                        &>.container__elem {
                            &:first-child {
                                margin-left: 19%;
                            }

                            &:last-child {
                                margin-right: 19%;
                            }
                        }
                    }
                }
            }

        }

        .image__container {
            @media only screen and (min-width:576px) {

                display: flex;
            }



            position: relative;
            justify-content: space-between;

            &>.container__elem {

                position: relative;

                @media only screen and (min-width:576px) {

                    width: 25%;

                }

                &:not(:last-child) {
                    @media only screen and (max-width:576px) {


                        margin-bottom: 35%;

                    }
                }



                &:not(:last-child)::after {
                    content: '';
                    background-image: url("../images/arrow.png");
                    height: 100%;
                    width: 20%;
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    right: -35%;

                    @media only screen and (max-width:576px) {
                        bottom: 0;
                        height: 25%;
                        right: 40%;
                        width: 10%;
                        transform: translateY(122%) rotate(90deg);
                    }
                }
            }
        }
    }

    &.section__C {
        margin-bottom: 35px;

        h1 {
            font-size: 1.6em;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;

        }

        .heading {
            background: #16806b;
            font-weight: 550;
            color: #fff;
            padding: 15px;

            @media only screen and (min-width:1200px) {

                width: 44%;
            }


            @media only screen and (max-width:844px) {

                font-size: 2em
            }

            text-align: center;
            font-size: 2.2em;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .heading:last-of-type {

            margin-bottom: 5%;
        }

        .subsection:not(:last-child) {
            background-color: #fff;
            padding: 30px 45px;
            padding-bottom: 45px;
            text-align: center;
            margin: 0 auto;


        }

        .section__desc {
            p {
                @media only screen and (max-width: 844px) {
                    font-size: 0.9em;
                }
            }

            text-align: justify;
            color: #000;
            font-weight: 500;
            font-size: 1.3em;
            margin: 0 auto;
            margin-top: 0px;
            margin-top: -35px;
            word-break: keep-all;
        }

        .image__container {
            margin-bottom: 35px;
            grid-gap: 30px;
            grid-template-columns: repeat(2, 1fr);
            display: grid;

            @media only screen and (min-width:800px) {

                grid-gap: 30px;
                grid-template-columns: repeat(3, 1fr);
                display: grid;
            }

            @media only screen and (max-width:540px) {

                grid-gap: 30px;
                grid-template-columns: repeat(1, 1fr);
                display: grid;
            }



            position: relative;
            justify-content: space-between;

            &>.container__elem {
                &:first-child {
                    margin-left: 0%;
                }

                &:last-child {
                    margin-right: 0%;
                }
            }

            &>.container__elem {
                background-color: #16806b;
                position: relative;
                margin: 0 auto !important;

                @media only screen and (max-width:576px) {

                    margin: 0 auto !important;
                }

                &:not(:last-child) {
                    @media only screen and (max-width:576px) {


                        margin-bottom: 35%;


                    }
                }

                &>.h__r {
                    padding: 6% 2% 6% 2%;

                    &>img {
                        padding: 10px 25% 0px 25%
                    }

                    h3 {
                        font-weight: 550;
                        margin-top: 20px;

                        @media screen and (max-width: 844px) {
                            font-size: 1.3em;

                        }
                    }

                }
            }
        }


    }

    &.phone__section {
       

        &>a {
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 800;
            font-size: 2.2em;
            display: flex;
            &:hover, &:focus {
                text-decoration: none;
            }

            &>img {
                max-height: 50px;
                margin-right: 15px;
            }

            @media only screen and (max-width:844px) {
                font-size: 2em;
                &>img {
                    max-height: 45px;
    
                }
            }
        }

        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        min-height: 120px;
        background-color: $default-orange-color;
        margin: 0 auto;








    }

}

section {


    h3 {
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 0;

    }

    .buttonBx {
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        a {
            &:hover, &:focus
            {
                text-decoration: none;
            }
        }


        @media screen and (max-width: 372px) {
            display: block;

            button {
                margin-right: 0;
            }
        }


        button:first-child {
            margin-right: 15px;
        }

        @media screen and (max-width: 372px) {

            button:first-child {
                margin-right: 0;
            }

            &>button:first-child {
                margin-bottom: 10px;
            }
        }
    }

    p {
        &.under-hd {
            margin-top: 0;
            font-size: 26px;
            color: #fff;
        }
    }
}