@import "__variables";

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section:not(.topsection) {
    align-items: center;
    padding-top: 15px;
    padding: 15px;
    padding-bottom: 15px;
    background-color: $default-bg-section;
    display: flex;
    justify-content: center;

    &.first-infobar {
        color: #fff;
        font-weight: 800;
        font-size: $h1-font-size;
        display: flex;
        text-align: center;
        justify-content: center;

        @media only screen and (max-width: 844px) {
            font-size: $h1-font-size-phone;

        }

        text-transform: uppercase;
        min-height: 120px;
        background-color: #191919;
        margin: 0 auto;
    }

    &.waarom-section {


        &>div>img {
            max-height: 350px;
        }

        @media only screen and (max-width:576px) {

            display: block;
        }


        h2 {
            color: $default-orange-color;
            text-transform: uppercase;
            font-size: 1.6em;
        }

        p {
            text-align: justify;
            padding-left: 15px;
            padding-right: 15px;
        }

        div:nth-child(2) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &.coninf {
        background-color: #bb5616;

        @media only screen and (max-width:576px) {

            display: block;
        }

        .imgBx {
            padding-left: 15px;
            padding-right: 15px;
        }

    }
}

section {


    h3 {
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 0;

    }

    .buttonBx {
        text-align: center;
        justify-content: center;
        display: flex;


        @media screen and (max-width: 372px) {
            display: block;

            button {
                margin-right: 0;
            }
        }

        
        button:first-child {
            margin-right: 15px;
        }
        @media screen and (max-width: 372px) {

            button:first-child {
                margin-right: 0;
            }
            & > button:first-child
            {
                margin-bottom: 10px;
            }
        }
    }
    p {
        &.under-hd {
            margin-top: 0;
            font-size: 26px;
            color: #fff;
        }
    }
}